.left-container {
    border: 5px solid white;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}

div {
    width: 200px;
    height: 400px;
    border: 2px solid black;
    margin: 0px;
}

.black {
    background-color: black;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}



@media screen and (max-width: 900px) {
    .left-container {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 33%;
        height: 50%;
   
}
    
}


    



   


